@model User

<h1 style="color:yellow">Result</h1>

<h1 style="color:azure">Ticket: @Model.CurrentTicketIndex </h1>
<h1 style="color:azure">CorrectCount: @Model.CurrentTicket!.CorrectCount </h1>
<h1 style="color:azure">QuestionCount: @Model.CurrentTicket.QuestionsCount</h1>